* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    outline: none;
}

html {
    background-color: #10191B;
    font-family: 'Muli';
    font-size:10px;
}

body {
    overflow-x: hidden;
}

.grid5050 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-hover, .color-hover, .fill-hover path, .fill-hover rect {
    transition: all .3s ease;
}

.bg-hover:hover { background-color: #7848fd; }
.color-hover:hover { color: #7848fd; }
.fill-hover:hover path, .fill-hover:hover rect { fill: #7848fd; }





/* FIXES */

::-webkit-input-placeholder { color: #B2BECD; }
  
:-ms-input-placeholder { color: #B2BECD; }
  
::placeholder { color: #B2BECD; }


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #10191B inset !important;
    -webkit-text-fill-color: #B2BECD !important;
    border-radius: 20px;
}




/* QUERIES */

@media (max-width: 1440px) {
    html {
        font-size: 9px;
    }
}


@media (max-width: 1024px) {
    .grid5050 {
        grid-template-columns: 1fr;
        grid-gap: 6rem;
    }

    .br {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 8px;
    }
}


@media (max-width: 550px) {
    html {
        font-size: 7px;
    }
}


@media (max-width: 425px) {
    html {
        font-size: 6px;
    }
}